body {
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

.tooltip {
    background-clip: border-box;
    border-image: url("./src/assets/textures/gui/sprites/tooltip/background.png") 9 fill;
    border-image-width: 50px;
}
.tooltipFrame {
    background-clip: border-box;
    border-image: url("./src/assets/textures/gui/sprites/tooltip/frame.png") 10 fill;
    border-image-width: 50px;
}
