@font-face {
  font-family: Mojang-Regular; /* set name */
  src: url(/src/assets/fonts/Mojang-Regular.ttf); /* url of the font */
}

.ToolTip {
    padding: 60px 80px 60px 80px;
    --border-image-width: 50px;
    shape-rendering: geometricPrecision;
    /* background-clip: border-box; */
    border-image: url("/src/assets/textures/gui/sprites/tooltip/frame.png") 10 fill;
    border-image-width: var(--border-image-width);
}

.ToolTip:after {
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    shape-rendering: geometricPrecision;
    border-image: url("/src/assets/textures/gui/sprites/tooltip/background.png") 10 fill;
    border-image-width: var(--border-image-width);
    z-index: -1;
}

.minecraftText {
    user-select: none;
    margin: 0;
    font-family: Mojang-Regular;
    color: white;
    font-size: 40px;
    text-shadow: 5px 5px #3e3e3e;
    word-spacing: 20px;
    white-space: pre;
}

body {
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}
